controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

# Désactiver la route par défaut de Symfony
#index:
#    path: /
#    controller: App\Controller\DefaultController::index
