<form method="post" action="{{ path('app_conference_delete', {'id': conference.id}) }}" 
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette conférence ? Cette action est irréversible.');" 
      style="display: inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conference.id) }}">
    <button class="btn btn-danger">
        <i class="fas fa-trash-alt me-2"></i>Supprimer la conférence
    </button>
</form>
